<footer>
    <div class="row text-center">
        <div class="col-md-4 text-center mt-1">
            <p class="">About Us:</p>
            <ul class="text-center d-flex justify-content-around">
                <li><a href="#" id="hover-effect">Adrian</a></li>
                <li><a href="#" id="hover-effect">Cristian</a></li>
                <li><a href="#" id="hover-effect">Ricardo</a></li>
            </ul>
        </div>
        <div class="col-md-4 mt-1">
            <p> © Copyrigth 2019. All Rigths Reserved.</p>

        </div>
        <div class="col-md-4 d-none d-sm-block">
            <a class=" text-light" href="#">
                <img src="" width="" height="" alt="logo">
                BootstrapBay
            </a>
        </div>
    </div>
</footer>