footer {
  border-top: 1px solid rgb(224, 224, 224);
  padding-top: 1em;
  font-weight: normal;
}

footer .container a {
  margin-left: 10px;
  text-decoration: none;
}
/* 
footer ul {
  list-style-type: none;

}

footer ul li a {
  text-decoration: none;
  color: #000;
}


#hover-effect::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .5s;
}

#hover-effect:hover::after {
  width: 100%;
  transition: width .5s;
}
 */
