footer {
    background-color: #fff;
    color: black;
    font-size: 14px;
    overflow: hidden;
    border-top: 1px solid #CCCCCC;

}

footer ul {
  list-style-type: none;

}

footer ul li a {
  text-decoration: none;
  color: #000;
}


#hover-effect::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .5s;
}

#hover-effect:hover::after {
  width: 100%;
  transition: width .5s;
}
