footer {
    background-color: #2A2A72;
    color: #fff;
    font-size: 14px;
    overflow: hidden;
}

footer ul {
  list-style-type: none;

}

footer ul li a {
  text-decoration: none;
  color: white;
}


#hover-effect::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .5s;
}

#hover-effect:hover::after {
  width: 100%;
  transition: width .5s;
}
