<footer class="mt-5">
  <div class="container">

    <div class="row text-center">
      <div class="col-md-4 text-center mt-2">
        <p class="">About Us:</p>
        <ul class="text-center d-flex justify-content-around">
          <li><a href="https://github.com/amgdevelop" target="_blank" id="hover-effect">Adrian</a></li>
          <li><a href="https://github.com/CristianSalerno" target="_blank" id="hover-effect">Cristian</a></li>
          <li><a href="https://github.com/ricardofanizzi" target="_blank" id="hover-effect">Ricardo</a></li>
        </ul>
      </div>
      <div class="col-md-4 mt-2 mb-3">
        <p> © Copyrigth 2019. All Rigths Reserved.</p>

      </div>
      <div class="col-md-4 d-none d-sm-block">
        <a class=" text-light" href="#">
          <img src="" width="" height="" alt="">
          DevSocial
        </a>
      </div>
    </div>
  </div>

</footer>