<footer>
  <div class="container text-center">
    <p>
      Devsocial 2019 - Project Neoland <br />
      Developed by:
      <a href="https://github.com/amgdevelop" target="_blank" id="hover-effect"
        >Adrian</a
      >
      <a
        href="https://github.com/CristianSalerno"
        target="_blank"
        id="hover-effect"
        >Cristian</a
      >
      <a
        href="https://github.com/ricardofanizzi"
        target="_blank"
        id="hover-effect"
        >Ricardo</a
      >
    </p>
  </div>
</footer>
