<div class="velo">
    <div class="passwordCase col-sm-12 col-md-6 col-xl-5">
        <button [routerLink]="['/profile/edit']" type="button" class="close closeButton" aria-label="Close">
            <span>&times;</span>
        </button>
        <div class="password">
            <h3 class="text-center">Change your Password</h3>
            <form [formGroup]="updateInfo" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>Old password</label>
                    <input type="text" class="form-control" formControlName="oldPassword" placeholder="Old password">
                </div>
                <div class="form-group">
                    <label>New password</label>
                    <input type="text" class="form-control" formControlName="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label>Repeat new password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" formControlName="repeatPassword"
                            placeholder="Repeat password">
                        <div class="input-group-append">
                        </div>
                    </div>
                </div>
                <input type="submit" value="Update" class="btn-continue float-right">
            </form>
        </div>
    </div>
</div>