.velo{
    background-color: rgba(0, 0, 0, 0.562);
    position: fixed;
    top: 0;
	right: 0;
	bottom: 0;
    left: 0;
    z-index: 999;
    color: rgb(0, 0, 0);
    padding: 2%;
}

.passwordCase{
    height: 65vh;
    margin: 10vh auto;
    border-radius: 10px;
    padding: 5vh;
    background-color:#3E8FD1;
}
.btn-continue:hover{
    transition:0.5s;
    background:rgb(98, 181, 160);
}
.password{
    margin:10px;
    color: #fff;
}
.password h3{
    font-size: 20px;
    font-weight: 400;
}
.password label {
    font-weight: 400;
    font-size:14px;
}
.password input{
    font-weight: 300;
    font-size: 14px;
}

.closeButton{
    display: inline-block;
    font-size: 25px;
    font-weight: 300;
    position: absolute;
    top: 2%;
    left: 95%;
}
.closeButton:focus{
    outline: none;
}