.velo{
    background-color: rgba(0, 0, 0, 0.562);
    position: fixed;
    top: 0;
	right: 0;
	bottom: 0;
    left: 0;
    z-index: 999;
    color: rgb(0, 0, 0);
    padding: 2%;
}

.emailCase{
    height: 55vh;
    margin: 10vh auto;
    border-radius: 10px;
    padding: 5vh;
    opacity: .9;
    background-color: #288bf5e1;
}
.btn-edit{
    margin-top: 5vh;
    width: 20vh;
}
.email{
    font-weight: bold;
    margin:10px;
    color: white;
}
.closeButton{
    display: inline-block;
    font-size: 25px;
    position: absolute;
    top: 2%;
    left: 95%;
    opacity: 1;
}
.closeButton:focus{
    outline: none;
}
.email h3{
    font-weight: 1000;
}