.container {
  min-height: 85vh;
  color: black;
  padding-top: 20vh;
}


form .form-group label {
  font-weight: 400;
}

form .form-group input,textarea,option{
  font-weight: 300;
}

form .form-group select{
    background:rgb(245, 245, 245);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;  
    background-image:url("../../assets/arrow-down.png");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center right;
    -webkit-padding-end: 5px;
    -moz-padding-start: 5px;
}

.col-sm-6 h3{
  font-size: 20px;
  font-weight: 400;
}

.col-sm-6 p{
  font-weight: 300;
}