<div class="container">
  <p class="text-center">Create a new project</p>
  <div class="row">
    <div class="col-12 col-md-12">
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="form-group">
          <label for="exampleFormControlInput1">Project Name</label>
          <input type="text" class="form-control" placeholder="Project Name" formControlName="name" />
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Project Description</label>
          <textarea class="form-control" rows="3" formControlName="descripcion"></textarea>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Collaborator 1</label>
          <select class="form-control" id="exampleFormControlSelect1" formControlName="perfil1">
            <option>UX/UI</option>
            <option>Frontend Developr</option>
            <option>Backend Developer</option>
            <option>Data Sciencist</option>
            <option>Graphic Designer</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Collaborator 2</label>
          <select class="form-control" id="exampleFormControlSelect1" formControlName="perfil2">
            <option>UX/UI</option>
            <option>Frontend Developr</option>
            <option>Backend Developer</option>
            <option>Data Sciencist</option>
            <option>Graphic Designer</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Collaborator 3</label>
          <select class="form-control" id="exampleFormControlSelect1" formControlName="perfil3">
            <option>UX/UI</option>
            <option>Frontend Developr</option>
            <option>Backend Developer</option>
            <option>Data Sciencist</option>
            <option>Graphic Designer</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Collaborator 4</label>
          <select class="form-control" id="exampleFormControlSelect1" formControlName="perfil4">
            <option>UX/UI</option>
            <option>Frontend Developr</option>
            <option>Backend Developer</option>
            <option>Data Sciencist</option>
            <option>Graphic Designer</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Collaborator 5</label>
          <select class="form-control" id="exampleFormControlSelect1" formControlName="perfil5">
            <option>UX/UI</option>
            <option>Frontend Developr</option>
            <option>Backend Developer</option>
            <option>Data Sciencist</option>
            <option>Graphic Designer</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Project Img</label>
          <input type="email" class="form-control" placeholder="Img URL" formControlName="imgUrl" />
        </div>
        <div class="buttons text-center">
          <button class="btn btn-danger mr-2" [routerLink]="['/projects']">
            Cancel
          </button>
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>