<div class="container">
    <div class="row">
        <div class="edit-case col-12">
            <section *ngIf="mainUser" class="title-edit">
                <h2>Account settings</h2>
            </section>
            <section class="profile row">
            </section>
            <div class="edit-image col-md-12 col-lg-6">
                <div class="image-profile">
                    <img src="https://uybor.uz/borless/uybor/img/user-images/user_no_photo_300x300.png"
                        class="img-fluid rounded-circle" />
                </div>
                <div class="btnedit">
                    <button class="btn-continue">
                        Edit Image
                    </button>
                </div>
            </div>
            <div *ngIf="mainUser" class="row">
                <section class="col-md-12 col-lg-4">
                    <div class="easy-edit">
                        <form [formGroup]="updateUser" (ngSubmit)="updateInfo()">
                            <div class="form-group">
                                <label>Username</label>
                                <input class="form-control" formControlName="username">
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" formControlName="name">
                            </div>
                            <div class="form-group">
                                <label>Surnames</label>
                                <input type="text" class="form-control" formControlName="surnames">
                            </div>
                            <div class="btn-edit">
                                <button type="submit" class="btn btn-continue">Update</button>
                            </div>
                        </form>
                    </div>
                </section>
                <section *ngIf="mainUser" class="col-md-8 col-lg-8">
                    <div class="important-edit">
                        <div class="row">
                            <div class="col-4">
                                <h4>Your email</h4>
                                <p>{{mainUser.email}}</p>
                            </div>
                            <div class="col-8 btn-edit">
                                <button [routerLink]="['email']" class="btn btn-continue">Edit</button>
                            </div>
                        </div>
                    </div>
                    <div class="important-edit">
                        <div class="row">
                            <div class="col-4">
                                <h4>Password</h4>
                                <p>Change password</p>
                            </div>
                            <div class="col-8 btn-edit">
                                <button [routerLink]="['pass']" class="btn btn-continue">Edit</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- OTROS EDIT DEL PERFIL -->
            <div class="row">
                <section class="col-sm-6 col-md-6 col-lg-6">
                    <form class="select-edit" [formGroup]="updateSkills" (ngSubmit)="updateSkill()">
                        <div class="row">
                            <div class="skill-edit col-4">
                                <div class="form-group">
                                    <label>You Role</label>
                                    <select class="form-control" id="select-1" formControlName="speciality">
                                        <option>Developer</option>
                                        <option>UX/UI</option>
                                        <option>Graphic Designer</option>
                                        <option>Data Scientist</option>
                                        <option>Startup</option>
                                    </select>
                                </div>
                            </div>
                            <div class="skill-edit col-4">
                                <div class="form-group">
                                    <label>Experience</label>
                                    <select class="form-control" id="select-2" formControlName="experience">
                                        <option>Aprentice</option>
                                        <option>Junior</option>
                                        <option>Semi-senior</option>
                                        <option>Senior</option>
                                        <option>God Level</option>
                                    </select>
                                </div>
                            </div>
                            <div class="skill-edit col-4">
                                <div class="form-group">
                                    <label>Availabity</label>
                                    <select class="form-control" id="select-3" formControlName="availability">
                                        <option>Full Time</option>
                                        <option>Part Time</option>
                                        <option>Weekends</option>
                                        <option>Casual</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <input id="update" class="float-right mb-2" type="submit" value="Update">
                    </form>
                </section>
                <section class="col-sm-6 col-md-6 col-lg-6">
                    <div class="about-edit">
                        <form [formGroup]="updateAbout" (ngSubmit)="updateAboutInfo()">
                            <h4 class="text-center">
                                About me</h4>
                            <div class="textarea-edit">
                                <div class="form-group text-center">
                                    <textarea rows="15" cols="25" formControlName="about"></textarea>
                                </div>
                                <input type="submit" value="Update" id="update-2" class="float-right ml-5">
                            </div>
                        </form>
                    </div>
                </section>
            </div>
            <div *ngIf="mainUser" class="row">
                <div class="col-md-6">
                    <h4 class="text-center mt-2">Information fields are not required</h4>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="other-edit">
                        <form [formGroup]="updateUserInfo" (ngSubmit)="updateOtherInfo()">
                            <div class="form-group">
                                <label>Country</label>
                                <input type="text" class="form-control" placeholder="Country" formControlName="country">
                            </div>
                            <div class="form-group">
                                <label>City</label>
                                <input type="text" class="form-control" placeholder="City" formControlName="city">
                            </div>
                            <div class="form-group">
                                <label>Language</label>
                                <input type="text" class="form-control" placeholder="Language"
                                    formControlName="language">
                            </div>
                            <div class="form-group">
                                <label>Phone</label>
                                <input type="text" class="form-control" placeholder="Phone" formControlName="phone">
                                <input id="update" class="float-right mb-2" type="submit" value="Update">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>