li{
    list-style: none;
}
.row a{
    font-size:14px;
    color:#3E8FD1;
    display: block;
}

.title-edit h2{
    font-size: 15px;
}
.edit-case{
    margin-top: 10vh;
    min-height: 80vh;
}

.easy-edit label{
    font-size: 14px;
}

.important-edit h4{
    font-size: 14px;
}
.important-edit p{
    font-weight: 300;
}
.title-edit{
    margin-top: 5vh;
    border-bottom: 1px solid rgb(230, 230, 230);
}
.easy-edit{
    margin-top: 6vh;
}
.important-edit{
    border-bottom: 1px solid rgb(230, 230, 230);
    height:10vh;
    margin: 6vh 0 5vh 0;
}
.btn-edit{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn-edit button{
    width: 15vh;
    height: 5vh;
}

.select-edit{
    margin-top: 5%;
}
.skill-edit label{
    display: block;
}
.about-edit{
    padding: 5%;
}
.textarea-edit{
    padding: 2%;
    margin-top: 2%;
}
textarea{
    border: rgb(185, 185, 185) solid 1px;
    padding:10px;
    font-weight: 300;
}

.other-edit{
   width: 70%;
   margin: 2% auto;
}
.other-edit input{
    font-weight: 300;
}
.other-edit label{
    font-size:14px;
}
.edit-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-profile img {
    width: 100%;
    height: 100%;
}
.image-profile{
    border: 1px solid rgb(238, 238, 238);
    border-radius: 50%;
    width: 15em;
    height: 15em;
    margin: 6%;
    opacity: .5;
}
.btnedit{
    position: absolute;
    
}
.btn-primary{
    opacity: .8;
}

#update,#update-2{
border:none;
background:none;
font-size: 14px;
font-weight: 300;
}

#select-1, #select-2, #select-3{
    background:rgb(245, 245, 245);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;  
    background-image:url("../../assets/arrow-down.png");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center right;
    -webkit-padding-end: 5px;
    -moz-padding-start: 5px;
    font-weight: 300;
}