.hero {
    background-image: url('../../assets/FONDOHERO.jpg');
    height: 60vh;
    background-position: center;
    background-size: cover;
}


.info p {
    font-family: 'Vollkorn', serif;
    color: lavender;
}

.shadow {
    border: 1px solid #CCCCCC;
}

.hero-text {
    margin-top: 20%;
}


@media (min-width:820px ) {

.hero {
   height: 50vh; 
}
.hero-text {
    margin-top: 10%;
}

}
 


