.landing{
    min-height: 80vh;
}
.hero {
    background-image: url('../../assets/FONDOHERO.jpg');
    height: 60vh;
    background-position: center;
    background-size: cover;
    padding-top: 10vh;
}

.info{
    border-top: 1px solid rgb(221, 221, 221);
}
section p {
    font-family: 'Vollkorn', serif;
    color: gray;
    font-weight: 600;
}

.infoboxes{
    padding: 10vh 0;
}

.infobox{
    border: 1px solid rgb(224, 224, 224);
}
.infobox h3{
    height: 13vh;
    color: rgb(62, 143, 209);
}
.contador{
    padding-top:4vh;
    height: 50vh;
    background-color: rgba(75, 75, 75, 0.062);
}
.users-icon{
   height: 50vh;
   font-size: 8em;
   text-align: center;
   position: relative;
   opacity: .8;
   
}
.users-icon i{
    font-size: 1.4em;
}
.project-icon{
    height: 50vh;
    font-size: 8em;
    text-align: center;
    opacity: .8;
    
}
.project-icon i{
    font-size: 1.4em;
}
@media (min-width:820px ) {

.hero {
   height: 60vh; 
}
.hero-text {
    margin-top: 10%;
}

}
 


