<div class="landing">
    <section class="hero">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 hero-text">
                    <h1 class="text-light ">WELCOME TO DEVSOCIAL</h1>
                    <h2 class="text-light mt-4">The social media where you can search projects and join colleagues.
                    </h2>
                </div>
            </div>
        </div>
    </section>
    <section class="info">
        <div class="container">
            <div class="row justify-content-center infoboxes">
                <div class="col-11 col-md-3  rounded m-3 p-4 shadow-sm infobox">
                    <h3>Register</h3>
                    <hr>
                    <p>Register and enter to view a entire world of projects from developers around the
                        globe.</p>
                </div>
                <div class="col-11 col-md-3  rounded m-3 p-4 shadow-sm infobox">
                    <h3>Work on projects</h3>
                    <hr>
                    <p>Find projects that fit your level and interests, meet colleagues and improve your skills
                        together.
                    </p>
                </div>
                <div class="col-11 col-md-3  rounded m-3 p-4 shadow-sm infobox">
                    <h3>Create Your Own Project</h3>
                    <hr>
                    <p>Find differents professionals profiles to interact and create new projects</p>
                </div>
            </div>
        </div>
    </section>
</div>

<router-outlet></router-outlet>