<section class="hero">
    <div class="container ">
        <div class="row align-items-center">

            <div class="col-12 mt-5 text-center">
                <h1 class="text-light ">WELCOME TO DEVSOCIAL</h1>
                <h2 class="text-light mt-4">The Place Where Projects come true</h2>
            </div>
            <div class="col-12 text-center">
                <button type="button" class="btn btn-primary" [routerLink]="['login']">Login</button>
                <button type="button" class="btn btn-outline-primary ml-3">Register</button>
            </div>
        </div>
    </div>
</section>
<section class="Info">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-11 col-md-3 border border-secondary rounded m-3 p-4 ">
                <h4 class="">Register</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, tempore quia officia libero commodi
                    sapiente et blanditiis officiis praesentium tempora eveniet dolore odio ipsam neque, architecto
                    cupiditate nulla est beatae?</p>
            </div>
            <div class="col-11 col-md-3 border border-secondary rounded m-3 p-4">
                <h4>Create Your Own Project</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, tempore quia officia libero commodi
                    sapiente et blanditiis officiis praesentium tempora eveniet dolore odio ipsam neque, architecto
                    cupiditate nulla est beatae?</p>
            </div>
            <div class="col-11 col-md-3 border border-secondary rounded m-3 p-4">
                <h4>Work on projects with other developers</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, tempore quia officia libero commodi
                    sapiente et blanditiis officiis praesentium tempora eveniet dolore odio ipsam neque, architecto
                    cupiditate nulla est beatae?</p>
            </div>
        </div>

    </div>
</section>
<router-outlet></router-outlet>