.landing{
    min-height: 80vh;
}
.hero {
    background-image: url('../../assets/FONDOHERO.jpg');
    height: 60vh;
    background-position: center;
    background-size: cover;
    padding-top: 10vh;
}

.hero-text h1{
    font-weight: 400;
    font-size: 55px;
    padding-top:10%;
}
.hero-text h2{
    font-weight: 300;
    font-size: 30px;
}

.info{
    border-top: 1px solid rgb(221, 221, 221);
}
section p {
    color: gray;
    font-weight: 300;
}

section h3{
    font-weight: 300;
}

.infoboxes{
    padding: 10vh 0;
}

.infobox{
    border: 1px solid rgb(224, 224, 224);
}
.infobox h3{
    height: 13vh;
    color: rgb(62, 143, 209);
}
.contador{
    padding-top:4vh;
    height: 50vh;
    background-color: rgba(75, 75, 75, 0.062);
}
.users-icon{
   height: 50vh;
   font-size: 8em;
   text-align: center;
   position: relative;
   opacity: .8;
   
}
.users-icon i{
    font-size: 1.4em;
}
.project-icon{
    height: 50vh;
    font-size: 8em;
    text-align: center;
    opacity: .8;
    
}
.project-icon i{
    font-size: 1.4em;
}


@media screen and (max-width: 768px){

    .hero {
    height: 60vh; 
    }
    .hero-text {
    margin-top: 15%;
    }
    .hero-text h1{
    font-weight: 400;
    font-size: 30px;
    }
.hero-text h2{
    font-weight: 300;
    font-size: 20px;
    }
}