.navbar{
  width: 100%;
  z-index: 999;
}
.nav-item .editbtn-sign{
  background: white;
  margin: 0 1vh;
}
.nav-item .editbtn-login{
  background: white;
  margin: 0 1vh;
  color: rgb(62, 143, 209);
  border: 1px rgb(62, 143, 209) solid;
}
.title{
  color: rgb(62, 143, 209);
}
@media (max-width:990px){
  .nav-item .editbtn-sign{
    background: white;
    margin: 1vh 1vh;
  }
  .nav-item .editbtn-login{
    background: white;
    margin: 1vh 1vh;
  }
}