<div class="background pb-5 pt-5">
  <section class="form-group pt-5">
    <h1 class="text-center title">PROJECTS</h1>
  </section>
  <div class="container">
    <div class="row">
      <section class="col-md-12 col-lg-3 shadow-sm filters">
        <form class="pt-2">
          <label>Filter by title</label>
          <input (keyup)="filtrarProyectos($event)" type="text" class="form-control" id="exampleFormControlInput1" />
        </form>
      </section>
      <section class="projects col-md-12 col-lg-9">
        <div class=" mt-3 mb-2 d-flex  bg-white shadow-sm border hover-effect rounded project-card"
          *ngFor="let proyecto of arrProyectos" (click)="checkUser(proyecto.id)">
          <div class="row">
            <div class="col-sm-12 col-md-5">
              <img [src]="'https://devsocial-back.herokuapp.com/images/'+ proyecto.imgUrl" class="img-fluid"
                alt="..." />
            </div>
            <div class="col-sm-12 col-md-7">
              <div class="text-project">
                <h5 class="card-title font-weight-bold color-blue text-capitalize mt-2">
                  {{ proyecto.name }}
                </h5>
                <p class="card-text text-capitalize word-wrap">{{ proyecto.descripcion }}</p>
              </div>
              <div class="row button-edits">
                <div class="col-7">
                  <p class="card-text text-capitalize">
                    <small class="text-muted">Create at {{ proyecto.fecha_inicio | date }}</small>
                  </p>
                </div>
                <div *ngIf="proyectosSuscrito" class="col-5">
                  <a (click)="checkUser(proyecto.id)" class="btn-error text-white mb"
                    *ngIf="isMyProject(proyecto.id)">Entry
                    to
                  </a>
                  <button (click)="onSubmit(proyecto.id)" class="btn-continue ml-3"
                    *ngIf="!isMyProject(proyecto.id)">Subscription
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>