@import url('https://fonts.googleapis.com/css?family=Scada&display=swap');
.background {
    background-color: rgb(245, 245, 245);
    min-height: 88vh;
    padding: 1%
}
.title{
    font-family: 'Scada', sans-serif;
    font-weight: bold;
    color: #3E8FD1;
}
.container{
    padding: 2%;
}
.word-wrap {
  word-wrap: break-word;
}
.project-card{
    padding: 1%;
}
.filters{
    min-height: 17vh;
    max-height: 60vh;
    background-color: #fff;
    border: 1px solid rgb(224, 224, 224);
}
.filters label{
    color: grey;
}
.projects{
    min-height: 60vh;
    background-color: #fff;
    border: 1px solid rgb(224, 224, 224);
}
.text-project{
    min-height: 20vh;
}
.tamaño{
    width: 60%;
}

.hover-effect:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
    transition:0.9s;
    cursor: pointer;
}

.color-blue {
    color: #3E8FD1;
}
.button-edits{
    margin: 5% 0;
}

@media (max-width: 990px){
    .text-project{
        padding:4%;
    }
    .background {
        padding: 5%
    }
}