<div class="project-case">
  <div *ngIf="project" class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <section class="project-profile shadow-sm">
          <div class="title-project">
            <h1>{{project.name}}</h1>
          </div>
          <div class="image-project">
            <img class="img-fluid" [src]="'https://devsocial-back.herokuapp.com/images/' + project.imgUrl" alt="">
          </div>
          <div class="description-project">
            <p>{{project.descripcion}}</p>
          </div>
          <div class="row skills-project text-center">
            <div class="col-md-12 col-lg-12 col-xl-6 skill-accept">
              <h3 class="title-skills">TEAM</h3>
              <ul>
                <li *ngFor="let user of usersTeam">
                  <a (click)="onSubmit(user.id)" class="btn editbtn-main btn-block">{{user.username}}<i
                      class="fas fa-check ml-1"></i></a>
                </li>
              </ul>
            </div>
            <div class="col-md-12 col-lg-12 col-xl-6 skill-pending">
              <h3 class="title-skills">STILL WAITING</h3>
              <ul>
                <li *ngFor="let especializacion of project.especializacion">{{especializacion}}</li>
              </ul>
            </div>
          </div>
        </section>
      </div>
      <div class="col-md-12 col-lg-4">
        <section class="chatbox shadow-sm">
          <app-chat-box></app-chat-box>
        </section>
      </div>
    </div>
  </div>
</div>