* {
  font-family: 'Montserrat', sans-serif;

}

.row ul li {
  list-style: none;
  text-decoration: none;
}


.row .box-checks {
  padding: 10%;
  width: 100%;
  height: 100%;
  background: rgba(125, 125, 125, 0.256);
  border-radius: 10px;
  justify-content: center;
  box-sizing: border-box;
}
