<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="image-fields text-center">
        <img src="../../assets/object1.png" alt="">
        <h5 class="text-center mt-3">Last step</h5>
        <p>Select the fields to complete your profile and match projects with your preferences</p>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 mt-3">
      <form [formGroup]="createUser" (ngSubmit)="onSubmit(userId)">
        <div class="form-group">
          <label>You Role</label>
          <select class="form-control" id="select-1" formControlName="speciality">
            <option>Developer</option>
            <option>UX/UI</option>
            <option>Graphic Designer</option>
            <option>Data Scientist</option>
            <option>Startup</option>
          </select>
        </div>
        <div class="form-group">
          <label>Experience</label>
          <select class="form-control" id="select-2" formControlName="experience">
            <option>Aprentice</option>
            <option>Junior</option>
            <option>Semi-senior</option>
            <option>Senior</option>
            <option>God Level</option>
          </select>
        </div>
        <div class="form-group">
          <label>Availabity</label>
          <select class="form-control" id="select-3" formControlName="availability">
            <option>Full Time</option>
            <option>Part Time</option>
            <option>Weekends</option>
            <option>Casual</option>
          </select>
        </div>
        <button class="btn-continue mb-2 float-right">Finish</button>
        <button class="btn-error mb-2 mr-2 float-right">Cancel</button>
      </form>
    </div>
  </div>
</div>