.container{
    min-height: 85vh;
    padding-top:25vh;
}
.container .row .image-fields img{
    width:40px;
    height: 50px;
    margin-bottom: 10px;
}

.image-fields h5{
    font-weight: 400;
    font-size: 20px;
}

.image-fields p{
    font-size: 15px;
    font-weight: 300;
}

.container .form-group label{
    font-weight: 400;
}
.container .form-group select{
    font-weight: 300;
}

#select-1, #select-2, #select-3{
    background:rgb(245, 245, 245);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;  
    background-image:url("../../assets/arrow-down.png");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center right;
    -webkit-padding-end: 5px;
    -moz-padding-start: 5px;
}

