<h3 class="text-center mt-3 mb-5">Tell people about you and where are you looking for !</h3>
<div class="row mt-3">
  <div class="col-sm">
    <div class="box-checks">
      <h4>Role</h4>
      <ul>
        <li>
          <label>Developer</label>
          <input class="ml-2" type="checkbox">
        </li>
        <li>
          <label class="ml-2">UX/UI</label>
          <input class="ml-2" type="checkbox">
        </li>
        <li>
          <label class="ml-2">Graphic Designer</label>
          <input class="ml-2" type="checkbox">
        </li>
        <li>
          <label class="ml-2">Startup</label>
          <input class="ml-2" type="checkbox">
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm">
    <div class="box-checks">
      <h4>Skills</h4>
      <ul>
        <li>
          <label>Aprentice</label>
          <input class="ml-2" type="checkbox">
        </li>
        <li>
          <label>Junior</label>
          <input class="ml-2" type="checkbox">
        </li>
        <li>
          <label class="ml-2">Semi-Senior</label>
          <input class="ml-2" type="checkbox">
        </li>
        <li>
          <label class="ml-2">Senior</label>
          <input class="ml-2" type="checkbox">
        </li>
        <li>
          <label class="ml-2">God Level</label>
          <input class="ml-2" type="checkbox">
        </li>
      </ul>
    </div>

  </div>
  <div class="col-sm">

  </div>
</div>
