<div class="container">
  <!--Aqui aparecen los comentarios de los usuarios-->
  <h3 class="text-center title">COMMENTS</h3>
  <div class="coment-box">
    <div class="coment" *ngFor="let coment of comentsArr">
      <h6 *ngIf="mainUser">
        {{ mainUser.username }} said at:
        <small>{{ coment.date | date: "M/d/yy, h:mm a" }}</small>
      </h6>
      <p>{{ coment.coment }}</p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-12">
      <!--Chat-->
      <form [formGroup]="chat" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="mt-2">Leave a comment</label>
          <textarea class="form-control textarea" id="exampleFormControlTextarea1" rows="3"
            formControlName="coment"></textarea>
          <div class="button">
            <button class="btn editbutton mt-2 float-right">
              Send coment
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>