<div class="project-case">
    <div class="container " *ngIf="usersTeam">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <section class="project-profile shadow-sm">
                    <div *ngIf="!activeTitle" class="title-project d-flex">
                        <h1>{{project.name}}</h1>
                        <a (click)="activate('title')" class="edit-links">Edit Title</a>
                    </div>
                    <form *ngIf="activeTitle" class="title-project d-flex" [formGroup]="dataTema"
                        (ngSubmit)="updateData()">
                        <input class="edit-title" type="text" placeholder="Title" formControlName="name">
                        <input class="btn-continue ml-2" type="submit" value="Update">
                        <a (click)="activate('title')" class="edit-links">Edit Title</a>
                    </form>
                    <div class="image-project">
                        <img class="img-fluid" [src]="'https://devsocial-back.herokuapp.com/images/' + project.imgUrl"
                            alt="">
                        <a class="edit-links text-center">Edit img</a>
                    </div>
                    <div *ngIf="!activeDescription" class="description-project">
                        <p>{{project.descripcion}}</p>
                        <a (click)="activate('description')" class="edit-links text-center">Edit Text</a>
                    </div>
                    <form *ngIf="activeDescription" [formGroup]="dataTema" (ngSubmit)="updateData()">
                        <textarea id="styletextarea" type="text" placeholder="Description"
                            formControlName="descripcion"></textarea>
                        <input class="btn-continue ml-2" type="submit" value="Update">
                        <a (click)="activate('description')" class="edit-links text-center">Edit Title</a>
                    </form>
                    <div class="row skills-project text-center">
                        <div class="col-md-12 col-lg-12 col-xl-6 skill-accept">
                            <h3 class="title-skills">TEAM</h3>
                            <ul>
                                <li *ngFor="let user of usersTeam">
                                    <a [ngClass]="{btn2: (user.id === mainId)}" (click)="onSubmit(user.id)"
                                        class="btn editbtn-main">{{user.username}} <i class="fas fa-check ml-1"></i></a>
                                    <a *ngIf="(user.id === mainId)" class="btn edit-btn-red-i"><i class="fas fa-award"
                                            id="creator"></i></a>
                                    <a (click)="deleteTbi(user)" *ngIf="!(user.id === mainId)"
                                        class="btn edit-btn-red-i"><i class="fas fa-times"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xl-6 skill-pending">
                            <h3 class="title-skills">STILL WAITING</h3>
                            <ul>
                                <li *ngFor="let especializacion of project.especializacion">{{especializacion}}</li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-12 col-lg-4">
                <section class="chatbox shadow-sm">
                    <app-chat-box></app-chat-box>
                </section>
                <section class="subscription shadow-sm">
                    <div class=" text-primary">
                        <h3 class="text-center title">SUBSCRIPTIONS</h3>
                    </div>
                    <div class="subcard">
                        <div class="usersubsc" *ngFor="let subscription of subscriptionActive">
                            <a (click)="goProfile(subscription.id)" class="username btn"><i class="fas fa-user"></i>
                                {{subscription.username}}</a>
                            <button (click)="onSubmitAccept(subscription)" class="btn editbutton">Accept</button>
                            <button (click)="onSubmitReject(subscription)"
                                class="btn editbutton red ml-1">Reject</button>
                        </div>
                    </div>
                    <p *ngIf="subscriptionActive" class="text-right pending">Pending {{subscriptionActive.length}}</p>
                </section>
            </div>
        </div>
    </div>
</div>