*{
    list-style-type: none;
    text-decoration: none;
}
.project-case{
    min-height: 88vh;
    background: rgb(245, 245, 245);
}
.project-case h1{
    font-size:25px;
}
.edit-title{
    color:rgb(75, 75, 75);
    font-size: 25px;
    width: 50%;
}

.project-profile{
    margin-top: 13vh;
    margin-bottom: 2vh;
    min-height: 80vh;
    background-color: white;
    padding: 3vh 7vh;
    border: 1px solid rgb(224, 224, 224); 
}
.image-project {
    width: 80%;
    margin: 3vh auto;
}
.edit-btn-red{
    display: block;
    margin: 0 auto;
    border: 1px rgb(214, 75, 75) solid;
    padding: 1%;
    color: rgb(214, 75, 75);
}

#styletextarea{
    width: 100%;
    height: 20vh;
    color:rgb(75, 75, 75);
}

.skills-project{
    margin: 5vh 0;
    border-top: 1px solid rgb(199, 199, 199);
    min-height: 40vh;
}

.skills-project ul{
    width: 100%;
    margin: 4vh auto;
    font-weight: 300;
}

.skills-project li{
    display:flex;
    justify-content: center;
    font-weight: 300;
}

.skill-accept ul li a {
    font-weight: 300;
    font-size:15px;
}
.skills-project i{
    color: #7BCBB7;
}

.skills-project a{
    margin: 1vh 0;
    display:inline-block;
}

.skill-accept{
    padding: 3vh;
}

.skill-pending{
    padding: 3vh;
}
li .edit-btn-red{
    width:10%;
    margin-left: 1vh;
}
li .edit-btn-red-i i{
    color: rgb(214, 75, 75);
}

.edit-links{
    font-size: 14px;
    font-weight: 400;
    color:#3E8FD1;
    margin:5px;
    cursor:pointer;
    display: block;
}

.description-project{
    margin-top: 7vh;
    color: rgb(82, 82, 82);
}
.description-project p{
    font-weight: 300;
}
.editbtn-main {
    background: white;
    color: rgb(73, 73, 73);
    border: 1px rgb(73, 73, 73) solid;
    width: 90%;
}
.title-skills{
    color: #3E8FD1;
    border-bottom: 1px solid #3E8FD1;
    border-left: 1px solid #7BCBB7;
    padding: 1vh;
    border-radius: 10%;
    font-size:15px;
}





.chatbox{
    background-color: white;
    margin-top: 13vh;
}

.subscription{
    border: 1px solid rgb(224, 224, 224);   
    background-color: white;
    margin: 5vh 0;
    height: 35vh;
    padding: 1vh;
}

.title{
    color: rgb(83, 83, 83);
    border-bottom: 2px solid rgb(83, 83, 83);
    padding: 1vh;
}

.subcard{
    margin: 3vh 0;
    height: 15vh;
    padding: 2vh;
    overflow: scroll;
}
.usersubsc{
    height: 3em;
    padding: .5vh;
    border: 1px solid rgb(224, 224, 224);
    display:flex;
    text-align: center;
}
.editbutton{
    border: 1px #7BCBB7 solid;
    padding: 1%;
    color: #7BCBB7;
    width:25%;
}
.red{
    border: 1px rgb(214, 75, 75) solid;
    color: rgb(214, 75, 75); 
}
.username{
    width: 50%;
    color: rgb(102, 102, 102);
    margin: .6vh;
}
.pending{
   color: rgb(214, 75, 75);
   font-weight: 700;
   margin-right: 2vh;
}