<div class="container">
  <div class="row">
    <div class="col-sm p-2 text-center">
      <h3 class="mb-4">Profile Name</h3>
      <img src="https://randomuser.me/api/portraits/men/43.jpg" class="img-fluid rounded">
      <h4 class="mt-4">About Me</h4>
      <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quaerat est sunt ipsum explicabo
        praesentium,
        autem cumque quis quae, repudiandae numquam aperiam quibusdam culpa aliquam illum sed reiciendis esse tenetur.
      </p>
    </div>
    <div class="col-sm p-2 text-center">
      <h4>Skills</h4>
      <p>Javascript</p>
      <p>Frontend</p>
      <p>Backend</p>

    </div>
    <div class="col-sm p-2 text-center">
      <h4>Projects</h4>
      <p>Project 1</p>
      <p>Project 2</p>
      <p>Project 3</p>
      <p>Project 4</p>
      <a href="#"><img class="media-img mr-2" width="20" height="20"
          src="https://image.flaticon.com/icons/svg/174/174848.svg" alt="facebook img" /></a>
      <a href="#"> <img class="media-img mr-2" width="20" height="20"
          src="https://image.flaticon.com/icons/svg/174/174857.svg" alt="linkedin img" /></a>
      <a href="#"> <img class="media-img mr-2" width="20" height="20"
          src="https://image.flaticon.com/icons/svg/174/174876.svg" alt="twitter img" /></a>
      <a href="#"> <img class="media-img mr-2" width="20" height="20"
          src="https://image.flaticon.com/icons/svg/174/174855.svg" alt="instagram img" /></a>
    </div>
  </div>
</div>







<!--

  <div class="col-12">
    <a href="#"><img class="media-img mr-2" width="20" height="20"
        src="https://image.flaticon.com/icons/svg/174/174848.svg" alt="facebook img" /></a>
    <a href="#"> <img class="media-img mr-2" width="20" height="20"
        src="https://image.flaticon.com/icons/svg/174/174857.svg" alt="linkedin img" /></a>
    <a href="#"> <img class="media-img mr-2" width="20" height="20"
        src="https://image.flaticon.com/icons/svg/174/174876.svg" alt="twitter img" /></a>
    <a href="#"> <img class="media-img mr-2" width="20" height="20"
        src="https://image.flaticon.com/icons/svg/174/174855.svg" alt="instagram img" /></a>
  </div>
</div> -->
