a {
  text-decoration: none;
  color: #2A2A72;
}

.row .media-icons {
  width: 30px;
  height: 30px;
  margin-top: 15px;
}

.row .skills-icons i {
  padding: 10px;
}

.row .box-profile {
  border-right: 3px solid #2A2A72;
  height: 100%;
  width: 100%;
}

.row .buttons-config .btn {
  border: 1px solid #2A2A72;
  color: #2A2A72;
}

.row .card .btn-card {
  background: #2A2A72;
  color: #fff;
}

.row .buttons-config .btn-c {
  background: #2A2A72;
  color: #fff;
}

.row .buttons-config .btn:hover {
  border: 1px solid #2A2A72;
  background: #2A2A72;
  color: #fff;
}

.row .card .card-header {
  background: white;
  border: none;
}

.row .card .card-footer {
  background: white;
  border: none
}

.row .card {
  border: none;
}

.container .row .progress .progress-bar {
  background: #2A2A72;
  ;
}


@media screen and (max-width:768px) {

  .row .box-profile {
    border-right: none;
    border-bottom: 3px solid #2A2A72;
  }
}
