<div class="row">
  <!-- Sección 1 del grid perfil -->
  <div class="col-sm mt-3">
    <div class="profile-box">
      <h3 *ngIf="mainUser" class="text-center mb-3">{{mainUser.name}}</h3>
      <div class="profile-img mb-4">
      </div>
      <h4 class="mb-3">About me</h4>
      <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente a harum autem accusantium aut,
        ut suscipit.
        Culpa sunt delectus illo omnis sit, animi sapiente labore hic magni veritatis provident nihil.</p>
    </div>
  </div>
  <!-- Sección 2 del grid perfil -->
  <div class="col-sm">
    <div class="profile-info mt-3">
      <h4 class="text-center">Skills</h4>
      <ul>
        <li>Frontend</li>
        <li>Javascript</li>
        <li>Angular</li>
        <li>Backend</li>
      </ul>
      <h4 class="text-center">Hobby</h4>
      <ul>
        <li>Hobby 1</li>
        <li>Hobby 2</li>
        <li>Hobby 3</li>
        <li>Hobby 4</li>
      </ul>
    </div>
    <!-- Redes Sociales -->
    <div class="social-media mt-4">
      <a href="#"><img class="media-img mr-2" src="https://image.flaticon.com/icons/svg/174/174848.svg"
          alt="facebook img" /></a>
      <a href="#"> <img class="media-img mr-2" src="https://image.flaticon.com/icons/svg/174/174857.svg"
          alt="linkedin img" /></a>
      <a href="#"> <img class="media-img mr-2" src="https://image.flaticon.com/icons/svg/174/174876.svg"
          alt="twitter img" /></a>
      <a href="#"> <img class="media-img mr-2" src="https://image.flaticon.com/icons/svg/174/174855.svg"
          alt="instagram img" /></a>
    </div>
  </div>
  <!-- Sección 3 del grid perfil -->
  <div class="col-sm mt-3">
    <div class="profile-ideas">
      <h4 class="text-center">Projects</h4>
      <ul>
        <li>project 1</li>
        <li>project 2</li>
        <li>project 3</li>
      </ul>
      <h4 class="text-center">Availability</h4>
      <cite title="Source Title" class="blockquote-footer">Full Time</cite>
      <h4 class="text-center">Interest</h4>
      <ul>
        <li>Interest 1</li>
        <li>Interest 2</li>
        <li>Interest 3</li>
      </ul>
      <button class="btn btn-light btn-sm ml-2 text-nowrap">Edit profile</button>
    </div>

  </div>

</div>
